/****************************************************/
/* Header Style                                     */
/****************************************************/
.header img {
  float: left;
  max-height: 100px;
  min-height: auto;
  max-width: 100%;
}

.header h1 {
  position: relative;
}

/****************************************************/
/* Footer Style                                     */
/****************************************************/


/****************************************************/
/* Nav-bar Style                                    */
/****************************************************/
@media (min-width: 768px) {
  .affix {
    top: 0;
    position: fixed;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .affix {
    position: static;
  }
}

/****************************************************/
/* Table Style                                      */
/****************************************************/
tr:nth-child(even) {
  background-color: #d9edf7;
}

/****************************************************/
/* Image Style                                      */
/****************************************************/
.icon {
  height: 250px;
}
